
.holder {
  overflow: auto;
}

.charts {
  font-family: Arial, sans-serif;
  padding: 10px 0;
  overflow: auto;
  position: relative;
}

.chart {
  position: absolute;
  display: inline-block;
  padding: 5px;
  margin: 0 -5px -5px 0;
  cursor: move;
}

.chart.unsnapped {
  z-index: 1;
}

.chart svg {
  cursor: auto;
}

.title {
  font-weight: bold;
  text-align: center;
}

.chart, .panel {
  border-style: solid;
  border-width: 5px;
  border-color: #eee;
  background-color: white;
}

.panel {
}

.control.panel {
  right: 100px;
  bottom: 30px;
  width: 485px;
  position: fixed;
  z-index: 16000000;
}

.control.panel.docked {
  position: relative;
  float: right;
  bottom: 0px;
}

.options.panel {
  position: absolute;
  bottom: -5px;
  left: -220px;
  width: 200px;
  font-size: 12px;
  padding: 5px;
}

.update.panel {
  position: absolute;
  right: -97px;
  bottom: -5px;
  width: 87px;
}

.options.panel label {
  margin-left: 5px;
}

.panel-line {
  position: relative;
  padding: 5px;
}

.panel-line span {
  font-size: 14px;
}

.line-one.panel-line {
  height: 38px;
}

.line-two.panel-line {
  height: 22px;
}

.clear.button {
  margin-left: 260px;
}

.cancel.button {
  margin-left: 10px;
  margin-bottom: -1px;
}

.statistics {
  position: absolute;
  overflow-y: scroll;
  bottom: 0px;
  left: 100px;
  border: solid 5px #eee;
  background-color: white;
  width: 225px;
  display: inline-block;
  max-height: 64px;
}

.statistics.show {
  max-height: 550px;
}

.statistics .title {
  border-width: 0 0 2px 0;
  font-size: 14px;
}

.statistics ul {
  border-width: 0 0 1px 0;
  padding: 1px 5px 15px 5px;
  margin: 0;
}

.statistics li {
  list-style: none;
  margin: 3px;
  border: solid 1px #ccc;
  background-color: #f8f8f8;
  padding: 4px 8px;
  font-size: 12px;
  cursor: pointer;
  overflow: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.statistics li:hover {
  background-color: #ddd;
}

.totals {
  display: inline-block;
  width: 264px;
  text-align: right;
}

.data-name {
  margin: 0 7px;
}

.dock.button {
  float: right;
}

.button {
  font-size: 14px;
  display: inline-block;
  background-color: #F0F0F0;
  background-image: -ms-linear-gradient(top, #F0F0F0, #CFCFCF);
  background-image: -webkit-linear-gradient(top, #F0F0F0, #CFCFCF);
  background-image: -o-linear-gradient(top, #F0F0F0, #CFCFCF);
  background-image: -moz-linear-gradient(top, #F0F0F0, #CFCFCF);
  background-image: linear-gradient(top, #F0F0F0, #CFCFCF);
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  border-color: #BABABA #888 #888 #BABABA;
  padding: 2px 5px;
  margin-left: 3px;
  margin-right: 3px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover {
  background: #CFCFCF;
}

.button.down, .down {
  background-color: #2C9CAF;
  background-image: -ms-linear-gradient(top, #2C9CAF, #237B8B);
  background-image: -webkit-linear-gradient(top, #2C9CAF, #237B8B);
  background-image: -o-linear-gradient(top, #2C9CAF, #237B8B);
  background-image: -moz-linear-gradient(top, #2C9CAF, #237B8B);
  background-image: linear-gradient(top, #2C9CAF, #237B8B);
  border-color: #888 #BABABA #BABABA #888;
  color: white;
}

.action.button {
  padding: 6px 11px;
}

.active.button, .active {
  color: #eee;
  background-color: #991735;
  background-image: -ms-linear-gradient(top, #991735, #6F1127);
  background-image: -webkit-linear-gradient(top, #991735, #6F1127);
  background-image: -o-linear-gradient(top, #991735, #6F1127);
  background-image: -moz-linear-gradient(top, #991735, #6F1127);
  background-image: linear-gradient(top, #991735, #6F1127);
}

.active:hover {
  background: #6F1127;
}

.remove {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 16px;
  height: 18px;
  color: #bbb;
  cursor: pointer;
  padding: 1px 2px;
  text-align: center;
  font-size: 15px;
}

.remove:hover {
  color: #777;
}

.peripherals {
  font-size: 12px;
}

.filter-bar {
  width: 150px;
  margin: 0px auto;
}

.filter.button {
  margin-right: 0px;
  width: 50px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.range {
  width: 32px;
  margin-left: 8px;
}

.background.bar {
  fill: #ccc;
}

.compare.bar.level-0 {
  stroke: black;
  shape-rendering: crispEdges;
}

.brush rect.extent, .foreground.bar {
  fill: hsl(189, 60%, 40%);
}
.level-0 {
  fill: hsl(280, 100%, 17%);
}
.level-1 {
  fill: hsl(270, 100%, 18%);
}
.level-2 {
  fill: hsl(260, 100%, 21%);
}
.level-3 {
  fill: hsl(250, 100%, 25%);
}
.level-4 {
  fill: hsl(245, 100%, 30%);
}
.level-5 {
  fill: hsl(240, 100%, 33%);
}
.level-6 {
  fill: hsl(235, 100%, 30%);
}
.level-7 {
  fill: hsl(230, 100%, 30%);
}
.level-8 {
  fill: hsl(225, 100%, 30%);
}
.level-9 {
  fill: hsl(220, 100%, 30%);
}
.level-10 {
  fill: hsl(215, 100%, 30%);
}
.level-11 {
  fill: hsl(210, 100%, 30%);
}
.level-12 {
  fill: hsl(205, 100%, 30%);
}
.level-13 {
  fill: hsl(200, 100%, 30%);
}
.level-14 {
  fill: hsl(195, 100%, 30%);
}
.level-15 {
  fill: hsl(190, 100%, 30%);
}
.level-16 {
  fill: hsl(185, 100%, 30%);
}
.level-17 {
  fill: hsl(180, 100%, 30%);
}
.level-18 {
  fill: hsl(175, 100%, 31%);
}
.level-19 {
  fill: hsl(170, 100%, 32%);
}
.level-20 {
  fill: hsl(165, 100%, 33%);
}
.level-21 {
  fill: hsl(160, 100%, 34%);
}
.level-22 {
  fill: hsl(155, 100%, 35%);
}
.level-23 {
  fill: hsl(150, 100%, 36%);
}
.level-24 {
  fill: hsl(145, 100%, 37%);
}
.level-25 {
  fill: hsl(140, 100%, 38%);
}
.level-26 {
  fill: hsl(135, 100%, 39%);
}
.level-27 {
  fill: hsl(130, 100%, 40%);
}
.level-28 {
  fill: hsl(125, 100%, 41%);
}
.level-29 {
  fill: hsl(120, 100%, 42%);
}
.level-30 {
  fill: hsl(115, 100%, 43%);
}
.level-31 {
  fill: hsl(110, 100%, 44%);
}
.level-32 {
  fill: hsl(105, 100%, 45%);
}
.level-33 {
  fill: hsl(100, 100%, 46%);
}
.level-34 {
  fill: hsl(95, 100%, 47%);
}
.level-35 {
  fill: hsl(90, 100%, 48%);
}
.level-36 {
  fill: hsl(85, 100%, 49%);
}
.level-37 {
  fill: hsl(80, 100%, 50%);
}
.level-38 {
  fill: hsl(75, 100%, 50%);
}
.level-39 {
  fill: hsl(70, 100%, 50%);
}
.level-40 {
  fill: hsl(65, 100%, 50%);
}
.level-41 {
  fill: hsl(60, 100%, 50%);
}
.level-42 {
  fill: hsl(55, 100%, 50%);
}
.level-43 {
  fill: hsl(50, 100%, 50%);
}
.level-44 {
  fill: hsl(45, 100%, 50%);
}
.level-45 {
  fill: hsl(40, 100%, 50%);
}
.level-46 {
  fill: hsl(35, 100%, 50%);
}
.level-47 {
  fill: hsl(30, 100%, 50%);
}
.level-48 {
  fill: hsl(25, 100%, 50%);
}
.level-49 {
  fill: hsl(20, 100%, 50%);
}
.level-50 {
  fill: hsl(15, 100%, 50%);
}
.level-51 {
  fill: hsl(10, 100%, 50%);
}
.level-52 {
  fill: hsl(5, 100%, 50%);
}
.level-53 {
  fill: hsl(0, 100%, 50%);
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 12px sans-serif;
}

.axis.ordinal {
  text-anchor: end;
}

.axis-label {
  text-anchor: middle;
  font-size: 14px;
}

.brush rect.extent {
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

.percent {
  text-anchor: middle;
  font: 12px sans-serif;
}

