
.charts {
  font-family: Arial, sans-serif;
  padding: 10px 0;
  overflow: hidden;
}

.chart {
  float: left;
  display: inline-block;
  margin-bottom: 20px;
}

.button {
  font-size: 14px;
  display: inline-block;
  background-color: #F0F0F0;
  background-image: -ms-linear-gradient(top, #F0F0F0, #CFCFCF);
  background-image: -webkit-linear-gradient(top, #F0F0F0, #CFCFCF);
  background-image: -o-linear-gradient(top, #F0F0F0, #CFCFCF);
  background-image: -moz-linear-gradient(top, #F0F0F0, #CFCFCF);
  background-image: linear-gradient(top, #F0F0F0, #CFCFCF);
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  border-color: #BABABA #888 #888 #BABABA;
  padding: 6px 11px;
  margin-left: 3px;
  margin-right: 3px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover {
  background: #CFCFCF;
}

.button.down {
  background-color: #5EFF29;
  background-image: -ms-linear-gradient(top, #5EFF29, #37DB00);
  background-image: -webkit-linear-gradient(top, #5EFF29, #37DB00);
  background-image: -o-linear-gradient(top, #5EFF29, #37DB00);
  background-image: -moz-linear-gradient(top, #5EFF29, #37DB00);
  background-image: linear-gradient(top, #5EFF29, #37DB00);
  border-color: #888 #BABABA #BABABA #888;
}

.filter-bar {
  font-size: 12px;
  width: 145px;
  margin: 0px auto;
}

.filter.button {
  padding: 2px 5px;
  margin-right: 0px;
}

.range {
  width: 32px;
  margin-left: 8px;
}

.foreground.bar {
  fill: steelblue;
}

.background.bar {
  fill: #ccc;
}

.compare.bar.level-0 {
  fill: hsl(207, 44%, 94%);
}

.compare.bar.level-1 {
  fill: hsl(207, 44%, 80%);
}

.compare.bar.level-2 {
  fill: hsl(207, 44%, 68%);
}

.compare.bar.level-3 {
  fill: hsl(207, 44%, 53%);
}

.compare.bar.level-4 {
  fill: hsl(207, 44%, 37%);
}

.compare.bar.level-5 {
  fill: hsl(207, 44%, 25%);
}

.compare.bar.level-6 {
  fill: hsl(207, 44%, 13%);
}

.compare.bar.level-7 {
  fill: black;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 12px sans-serif;
}

.axis.ordinal {
  text-anchor: end;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

.totals {
  position: absolute;
  left: 740px;
  font-size: smaller;
  width: 220px;
}

.percent {
  text-anchor: middle;
  font: 12px sans-serif;
}

