#easydemo {
  position: fixed;
  background-color: #444;
  font-size: 16px;
  font-family: Tahoma, sans-serif;
  line-height: 150%;
  color: #222;
  -moz-box-shadow: 2px 2px 8px 3px #888;
  -webkit-box-shadow: 2px 2px 8px 3px #888;
  -o-box-shadow: 2px 2px 8px 3px #888;
  -ms-box-shadow: 2px 2px 8px 3px #888;
  box-shadow: 2px 2px 8px 3px #888;
}

#easydemo.unfocused {
  opacity: 0.6;
}

#easydemo .header {
  height: 30px;
  cursor: move;
  background-image: -ms-linear-gradient(top, #555, #222);
  background-image: -webkit-linear-gradient(top, #555, #222);
  background-image: -o-linear-gradient(top, #555, #222);
  background-image: -moz-linear-gradient(top, #555, #222);
  background-image: linear-gradient(top, #555, #222);
  color: white;
  padding: 6px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#easydemo .header .title {
  font-size: 20px;
  margin-left: 4px;
}

#easydemo .header .controls {
  float: right;
}

#easydemo .control {
  float: left;
  cursor: pointer;
}

#easydemo .sprite {
  margin: 7px;
  background-image: url("easydemo.png");
}

#easydemo .right-arrow, #easydemo .left-arrow {
  height: 14px;
  width: 7px;
  margin-right: 10px;
  margin-left: 11px;
  background-position: 0px 0px;
}

#easydemo .left-arrow {
  height: 14px;
  width: 7px;
  background-position: -7px 0px;
}

#easydemo .down-arrow {
  height: 7px;
  width: 14px;
  margin-top: 10px;
  margin-bottom: 11px;
  background-position: -14px 0px;
}

#easydemo .cross {
  height: 14px;
  width: 14px;
  background-position: -28px 0px;
}

#easydemo .close {
  margin-left: 15px;
}

#easydemo .previous {
  margin-right: 3px;
  margin-left: 10px;
}



#easydemo .info-container {
  position: relative;
}

#easydemo .info {
  width: 500px;
  height: 325px;
  overflow-y: scroll;
}

#easydemo p.state {
  cursor: pointer;
  margin: 6px;
  margin-top: 0;
  border-style: solid;
  border-width: 5px;
  border-radius: 8px;
  background-color: #777;
  border-color: #777;
  padding: 3px;
}

#easydemo p.state:hover {
  background-color: #999;
  border-color: #999;
}

#easydemo p.state.activating {
  background-color: #999;
  border-color: #eee;
}

#easydemo p.state.active {
  background-color: #eee;
  border-color: #eee;
}


#easydemo .resize {
  background-color: rgba(0,0,0,0);
  position: absolute;
}
#easydemo .resize.left {
  cursor: ew-resize;
  top: 0px;
  left: -3px;
  width: 7px;
}
#easydemo .resize.right {
  cursor: ew-resize;
  top: 0px;
  right: -5px;
  width: 7px;
}
#easydemo .resize.bottom {
  cursor: ns-resize;
  bottom: -5px;
  left: 0px;
  height: 7px;
}
#easydemo .resize.bottom-left {
  cursor: nesw-resize;
  bottom: -6px;
  left: -4px;
  width: 9px;
  height: 9px;
}
#easydemo .resize.bottom-right {
  cursor: nwse-resize;
  bottom: -6px;
  right: -6px;
  width: 9px;
  height: 9px;
}


signal {
  display: inline;
  border-style: solid;
  border-width: 1px;
  border-color: #555;
  border-radius: 8px;
  padding: 0 4px;
}

p.state:hover signal {
  border-color: #666;
}

p.state.active signal {
  background-color: #ddd;
  border-color: #bbb;
  color: #050;
}

p.state.active signal:hover,
p.state.active signal:active {
  background-color: #ccc;
}

.easydemo-signal {
  width: 10px;
  height: 10px;
  margin: -5px;
  border-style: solid;
  border-radius: 10px;
  border-color: #0a0;
  background-color: #0a0;
  opacity: 0.8;
  position: absolute;
  animation-name: easydemo-pulse, easydemo-enter;
  animation-duration: 0.8s, 0.2s;
  animation-iteration-count: infinite, 1;
  animation-direction: alternate, normal;
  animation-timing-function: linear, ease-in;
  -webkit-animation-name: easydemo-pulse, easydemo-enter;
  -webkit-animation-duration: 0.8s, 0.2s;
  -webkit-animation-iteration-count: infinite, 1;
  -webkit-animation-direction: alternate, normal;
  -webkit-animation-timing-function: linear, ease-in;
  -moz-animation-name: easydemo-pulse, easydemo-enter;
  -moz-animation-duration: 0.8s, 0.2s;
  -moz-animation-iteration-count: infinite, 1;
  -moz-animation-direction: alternate, normal;
  -moz-animation-timing-function: linear, ease-in;


  -moz-box-shadow: 0px 0px 5px 1px #363;
  -webkit-box-shadow: 0px 0px 5px 1px #363;
  -o-box-shadow: 0px 0px 5px 1px #363;
  -ms-box-shadow: 0px 0px 5px 1px #363;
  box-shadow: 0px 0px 5px 1px #363;
}

.easydemo-signal.active {
  animation-name: easydemo-active;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(.11, .86, .83, .43);
  -webkit-animation-name: easydemo-active;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(.11, .86, .83, .43);
  -moz-animation-name: easydemo-active;
  -moz-animation-duration: 0.8s;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: normal;
  -moz-animation-timing-function: cubic-bezier(.11, .86, .83, .43);
}

@keyframes easydemo-active {
  0% {
    width: 300px;
    height: 300px;
    border-radius: 300px;
    margin: -150px;
  }

  95%,
  100% {
    width: 10px;
    height: 10px;
    margin: -5px;
  }
}

@keyframes easydemo-pulse {
  0% {
    border-color: #090;
    background-color: #090;
  }

  100% {
    border-color: #0c0;
    background-color: #0c0;
  }
}

@keyframes easydemo-enter {
  0% {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    margin: -8px;
  }

  100% {
    width: 10px;
    height: 10px;
    margin: -5px;
  }
}

@-moz-keyframes easydemo-active {
  0% {
    width: 300px;
    height: 300px;
    border-radius: 300px;
    margin: -150px;
  }

  95%,
  100% {
    width: 10px;
    height: 10px;
    margin: -5px;
  }
}

@-moz-keyframes easydemo-pulse {
  0% {
    border-color: #090;
    background-color: #090;
  }

  100% {
    border-color: #0c0;
    background-color: #0c0;
  }
}

@-moz-keyframes easydemo-enter {
  0% {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    margin: -8px;
  }

  100% {
    width: 10px;
    height: 10px;
    margin: -5px;
  }
}

@-webkit-keyframes easydemo-active {
  0% {
    width: 300px;
    height: 300px;
    border-radius: 300px;
    margin: -150px;
  }

  95%,
  100% {
    width: 10px;
    height: 10px;
    margin: -5px;
  }
}

@-webkit-keyframes easydemo-pulse {
  0% {
    border-color: #090;
    background-color: #090;
  }

  100% {
    border-color: #0c0;
    background-color: #0c0;
  }
}

@-webkit-keyframes easydemo-enter {
  0% {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    margin: -8px;
  }

  100% {
    width: 10px;
    height: 10px;
    margin: -5px;
  }
}
